@model PermissionManager.Models.Responsible

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Responsible</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsibleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponsibleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsibleEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponsibleEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ResponsibleID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
