@model PermissionManager.Models.PermissionLog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PermissionLog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifyValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifyValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Permission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Permission.PermissionID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PermissionLogID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
