@model IEnumerable<PermissionManager.Models.PermissionLog>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LogDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifyValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permission)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LogDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifyValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Permission.PermissionID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PermissionLogID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PermissionLogID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PermissionLogID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
